:root{
    --stPanleBg: #f0eeee;
    --stPanleText: #4a4a4a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --stPanleBg: rgb(19, 23, 38);
        --stPanleText: #FFF;
    }
}

#selectionCover{
    position: fixed;
    inset: 0;
    z-index: 1000000;
    cursor: crosshair;
}

#snapText-selection-box {
    position: fixed;
    display: block;
    z-index: 1000000;
    border: 1px dotted #00aeff;
    box-shadow: 0 0 0 300vw rgba(0, 0, 0, 0.1);
}

#snapTextNotification{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    z-index: 100000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    bottom: -50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    animation: pulerNotificationSlideInOut 1.6s ease-in-out;
    background: var(--stPanleBg);
    color: var(--stPanleText);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 7px 10px 7px 8px;
}

#snapTextNotification > img{
    width : 36px;
    height: 36px;
    display: inline-block;
    margin-right: 10px;
    filter: none;
    opacity: 1;
    visibility: visible;
    border: none;
    outline: none;
}

#snapTextNotification > .notification-text-holder h2{
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#snapTextNotification > .notification-text-holder span{
    font-size: 12px;
    line-height: 14px;
    opacity: 0.6;
}

@keyframes pulerNotificationSlideInOut {
    0% , 100%{ opacity: 0; bottom: -50px;}
    25% , 75%{ opacity: 1; bottom: 20px;}
}